<div id="contenedor">
  <div id="title">
    <h1>Portafolio</h1>
  </div>
  <div id="contenido">
    <div id="cajas">
      <img src="../../../assets/img/bg.png" alt="img" />
      <h2>API youtube</h2>
      <button class="boton">Ver</button>
    </div>
    <div id="cajas">
      <img src="../../../assets/img/bg.png" alt="img" />
      <h2>API gifApp</h2>
      <button class="boton">Ver</button>
    </div>
    <div id="cajas">
      <img src="../../../assets/img/bg.png" alt="img" />
      <h2>API youtube</h2>
      <button class="boton">Ver</button>
    </div>
    <div id="cajas">
      <img src="../../../assets/img/bg.png" alt="img" />
      <h2>API youtube</h2>
      <button class="boton">Ver</button>
    </div>
    <div id="cajas">
      <img src="../../../assets/img/bg.png" alt="img" />
      <h2>API youtube</h2>
      <button class="boton">Ver</button>
    </div>
    <div id="cajas">
      <img src="../../../assets/img/bg.png" alt="img" />
      <h2>API youtube</h2>
      <button class="boton">Ver</button>
    </div>
    <div id="cajas">
      <img src="../../../assets/img/bg.png" alt="img" />
      <h2>API youtube</h2>
      <button class="boton">Ver</button>
    </div>
    <div id="cajas">
      <img src="../../../assets/img/bg.png" alt="img" />
      <h2>API youtube</h2>
    </div>
  </div>
</div>
