<div id="contenedor">
    <div id="title">
        <h1>Bienvenido(a) a mi sitio WEB</h1>
    </div>
    <div id="row-1">
         <div id="datos">
             <h1>Soy: Guillermo Bulo</h1>
             <h2>Ingeniero de Sistemas</h2>
             <div id="subtitulos">
                 <p>Desarrollador web con Angular y React</p>
                 <p>Desarrollador web con Angular y React</p>
                 <p>Encantado de probar nuevas tecnologias con Javascript</p>
             </div>
             <!-- <p>Enamorado de la tecnologia</p>
             <p>Linux <3</p> -->
         </div>
    </div>
    <div id="row-2">
        <img src="../../../assets/img/avataaars.svg" alt="yo">
    </div>
   
</div>