<div id="contenedor-principal">
    <div id="titulo">
        <h1>curriculum</h1>
    </div>
    <div id="contenedor-secundario">
    <div id="resumen">
      <hr>
      <h1>Resumen</h1>
      <button id="pdf">Verlo en PDF</button>
    </div>

    <div id="trabajo-1">
      <h1 id="fecha">2017</h1>
      <h3 id="cargo">Desarrollador de software</h3>
        <h4 id="empresa">Empresa: Lusaxweb</h4>
         <h4 id="funciones">Funciones: </h4>
              <p id="contenido-funciones">1 - Desarrollo de procesos con BonitaSoft</p>
              <p id="contenido-funciones">2 - Manejo de Querys en PostgreSQL</p> 
        <h4 id="tiempo">Tiempo: 6 meses</h4>
      </div>
      <div id="trabajo-1">
        <h1 id="fecha">2018 - 2019</h1>
        <h3 id="cargo">Analista en sistema</h3>
          <h4 id="empresa">Empresa: CANTV</h4>
           <h4 id="funciones">Funciones: </h4>
                <p id="contenido-funciones">1 - Desarrollo de procesos para el grupo de Transformacion</p>
                <p id="contenido-funciones">2 - Tranformacion de datos para la plataforma de mediacion</p>
                <p id="contenido-funciones">3 - Creacion de Scripts para optimizacion de procesos</p>
                <p id="contenido-funciones">4 - Manejo de servidores UNIX y Linux</p> 
                <p id="contenido-funciones">5 - Generacion de reportes automaticos</p> 
                <p id="contenido-funciones">6 - Levantamiento de informacion para clientes nuevos</p> 
          <h4 id="tiempo">Tiempo: 18 meses</h4>
        </div>
        <div id="trabajo-1">
          <h1 id="fecha">2020 - 2021</h1>
          <h4 id="funciones">Cambios: </h4>
          <p id="texto-p">Despues de haber concluido la carrera, tome un año sabatico debido a la pandemia y decidi dedicarme al desarrollo web por completo, asi que me puse a estudiar y pulir mis habilidades tanto en FrontEnd y BackEnd para capacitarme y trabajar de manera profesional.</p>
          </div>
</div>

</div>