*{
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}


/* body{
  background-image: url('./assets/img/work.jpg');
  background-repeat: no-repeat;
  background-size: 100vw;
}  */
